#app {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.avatar {
  background: url('../../assets/gas.bmp');
}
.left {
  background: #EEEDF9;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
