body {
  position: relative;
  color: white;
  font-family: 'Krub', sans-serif;
}
#app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero {
  object-position: top;
  object-fit: cover;
  height: 95%;
  width: 102%;
  position: absolute;
  bottom: -2%;
  left: -1%;
  right: -1%;
  z-index: -1;
}
.container {
  height: 100%;
  width: 100%;
}
.title {
  font-family: 'Krub', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: var(--box-shadow);
}
