@import url('https://fonts.googleapis.com/css?family=Lato:400,800');
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  --d-pc: #303F9F;
  --l-pc: #C5CAE9;
  --pc: #3F51B5;
  --ac: #7C4DFF;
  --pt: #212121;
  --st: #757575;
  --dc: #BDBDBD;
  --box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
* {
  user-select: none;
}
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
